// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  .content-img{
    box-shadow: 2px 3px 2px -2px #000;
  }
  .content-title{
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 2px auto;
    background: #f2f2f2;
    text-align: center;
    font-family: cursive;
    font-style: italic;
  }
  .content-buttons{
    padding: 2px;
    margin: 2px auto;
    text-align: center;
  }
  .button_to{
    display: contents;
  }

  .content-description{
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1px auto;
  font-style: italic;
  }